* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 70%;
}

.logo{
    width: 200px;
    height: 100px;
    vertical-align: middle;
    margin-bottom: 50px;
}

ul li{
    list-style: none;
    display: inline;
}

a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(98, 147, 147);
}

.container{
    position: relative;
    margin-top: 30px;
    font-size: 0;
}

.banner{
    width: 100%;
    height: 700px;
    border-radius: 2%;
}

.shadow{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
}

.content-text h4{
    font-size: 23px;
}

.content-text{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}

.Leadership{
    margin-top: 50px;
    margin-bottom:50px;
}

.Leadership > h3{
    font-size: 30px;

}

.container-table{
    width: 100%;
    height: 100%;
    
}


.banner2{
    width: 100%;
    height: 200px;
    object-position: fit;
}

.img-sidebar-dx{
    width: 100%;
    height: 200px;

}

.img-sidebar-sx {
    width: 100%;
    height: 200px;
}

.sidebar-sx{
    width: 24%;
    float: left;
    position: relative;
    border-radius: 2%;
}

.content {
    float: left;
    width: 50%;
    margin: 0 1%;
    position: relative;
    border-radius: 2%;
}

.sidebar-dx{
    width: 24%;
    float: right;
    position: relative;
    border-radius: 2%;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}